In [1]:
# suppose they have given as a list, in that we havce to calculate the number of 2 in that list

In [2]:
a=["dee",2,2,"deepak2222"]  # first list they have given.so with the help of the map function,we will convert it into tje str

In [4]:
b=list(map(str,a))
print(b)

['dee', '2', '2', 'deepak2222']

In [5]:
# now we will use join funtion ko join the all list,
# join  ka matlab pura list ek sath join hoga and jo , comma tha uske replace mai condition dala,jaise
# kahi par , comma ki jagah blanck space matlabh , ki jagah kuch nhi aayega and wah list join ho jayega
# kahi par , ki jagah tune jo condition dia hai wah aayega

In [13]:
# so idhar mai , ko ''blank sey separted kar rha hu

#   c='4'.join(b)  #join hoga 4 sey jidhr jidhr(,)hoga udhr udhr 4 aa jayega 
#print(c)


c=''.join(b)  # mean b mai jidhr jidhr (,) hai usko ('') blank sey separted karle ek jagh sabko leyka ana
print(c)

dee22deepak2222

In [14]:
#abh pura junk mil gyahai
# abh 2 koremove karenge
d=c.replace('2','')   # mean a mai sey jidhr jidhr 2 hai usko replace karke do,blank sey
print(d)  # abh pura 2 nikal gya

deedeepak

In [15]:
# toh abh number of 2 count karne ke lia
len(c)-len(d)

6

In [9]:
a=['deepak',22,'depak2222']
dl=list(map(str,a))  # how does map work.map will perform function operation on every element
p=''.join(dl)

In [12]:
print(p)
l=p.replace('2','')

deepak22depak2222