In [3]:
23 * 'deepak'
d=5*"khetwal\n"  # to print the string multiple time
print(d)

khetwal
khetwal
khetwal
khetwal
khetwal

In [21]:
d="deepak"
h=d[::-1]    # to reverse the string
print(h)

kapeed

 # how for loop take one one value from the string

In [3]:
a="deepak"
for i in a:
    print(i)  # this is how one by one value or element will be passed to i from a

d
e
e
p
a
k

# how to find the index number of string using 3 variable

In [2]:
a="deepak"
count=0
for i in a:
    if(i=='a'):
        print("word found at the index number:",count)
        count=count+1
    else:
        count=count+1

word found at the index number: 4

In [4]:
# if we want to print the string as it is without checking the special character
# that time we will use r as a raw 
a="deepak:\navin"
print(a)   #here after slaces it took a \n a new line characters  ,but if we want to neglect that special characters
d=r"deepak\navin"  #in the starting of the string use r as a special character
print(d)

deepak:
avin
deepak\navin

# directly reversing string

In [5]:
a='deepak'
#d=list(a)
#print(d)
dl=a[::-1]    #directly reversing string
print(dl)

kapeed

# printing multiple time

In [4]:
# to print string multiple time
a="deepak"   # as we have stored a deepak in a variable
10 *a

'deepakdeepakdeepakdeepakdeepakdeepakdeepakdeepakdeepakdeepak'

# to convert string to list

In [4]:
# to convert string to list
a='deepak'
list(a)    #so it will tell to convert a string of name a to list

['d', 'e', 'e', 'p', 'a', 'k']

# string to list and than performing slicing and reversing it

In [7]:
# performing slicing operation in string ,
#first convert into list n than perform slicing on that list
a='deepak'
dk=list(a) 
dk[::-1]

['k', 'a', 'p', 'e', 'e', 'd']

# to convert list to array
# array is a inbuild function in python.so we just have to import it

In [69]:
from array import array
d=[1,2,3,4,5]
print(type(d))
ar=array("i",d)   #for integer
#ar=array("u",a)   #for string
print(ar)

<class 'list'>
array('i', [1, 2, 3, 4, 5])

In [75]:
a=r"d:\navin:\nhello"     #to escape the special characters    #we should used (r)
print(a)

d:\navin:\nhello

In [108]:

name="khetwal"
"deepak  "+name  # add new string it into variable

'deepak  khetwal'

In [118]:
# to know the length of string we can used inbuild function
for i in range(1,7):
    b=len(name)-i
    print(b)
    #print(i)

6
5
4
3
2
1

In [120]:
# to check the length of string we can used the length function
d="youtube"
len(d)   #to calculate the length of string

7

# check the slicing form in string

In [2]:
a="sring"
a[::-2]   # pehla index hamesha raheyga fir uske baad ek number chhod kar dusra number leyga .. jaise humne usko condition dia hai

'gis'

In [1]:
# upar ka output condition ke based par hai,, -2 mean pehle toh -1 leyga than -2 ko chodeyga and -3 leyta fir 4 chhodeyga n -5 leyga
# mean pehle ke baad 1 chhod kar dusra aise leyga

In [2]:
dk="deepak" # slicing in list
dk[0:3]

'dee'

#  performing sorting in a string

In [2]:
tu="deepak"
sorted(tu)

['a', 'd', 'e', 'e', 'k', 'p']

In [7]:
  #012345
d='deepak'
  #-6-5-4-3-2-1
d[::-1]

'kapeed'

# we can convert string to set ,to get only the unique element

In [5]:
a="deepak"
p=set(a)  -#--#---#>> but the problem while convert into set is that is index is not so the value will get  changed  <#<<--#---
print(p)   #--->>now it become set
d=list(p)

{'a', 'k', 'p', 'd', 'e'}

In [8]:
print(d)

['a', 'k', 'p', 'd', 'e']

In [13]:
a={1,2,3}
tuple(a)

(1, 2, 3)