# tuple is used ,when we want a constant variable.as we know we cannot change the value of tuple

In [4]:
tup=(1,2,3,4)
type(tup)

tuple

In [7]:
a="deepak"
min(a)

'a'

In [8]:
max(a)

'p'

# converting string to list

In [12]:
type(a)
b=list(a)
type(b)

list

In [23]:
a="deepak"
count=0
for i in range(0,10):
    count=count+1
    print(count)
    print(a)

1
deepak
2
deepak
3
deepak
4
deepak
5
deepak
6
deepak
7
deepak
8
deepak
9
deepak
10
deepak

In [3]:
a=(1,2,'depak',23,2,2)
print(a)

(1, 2, 'depak', 23, 2, 2)

In [4]:
d=(1,2,3,4,'deepak',10.2)

In [2]:
print(d)

(1, 2, 3, 4, 'deepak', 10.2)

In [5]:
d[::-1]  #slicing on tuple is possible,and the slicing result must be stored in some variable

(10.2, 'deepak', 4, 3, 2, 1)

In [8]:
print(d)

(1, 2, 3, 4, 'deepak', 10.2)

In [17]:
count=0
for i  in d:
    if(i=='deepak'):
        print("index number ofnumber is" ,count)
        break
    else:
        
        count=count+1
        #print(i)

index number ofnumber is 4

# to print tuple multiple time

In [2]:
#n number of times
a=(1,2,3)
2*a      #here it will print the tuple 2 time

(1, 2, 3, 1, 2, 3)

# to print length of a tuple

In [3]:
# to print length of a tuple
len(a)

3

In [6]:
a=(1,2,3,45,6,7)
type(a)
a[::-1]  # reversing the tuple

(7, 6, 45, 3, 2, 1)

# we can convert tuple to list

In [2]:
a=(1,2,3,45,6,7)   # it a tuple
b=list(a)
print(b)

[1, 2, 3, 45, 6, 7]

In [3]:
type(b)

list

# using slicing in tuple() performing some operation

In [1]:
a=(1,2,3,45,6,7)
a[0:6:2]    # slicing performing some operation,1 argument will be starting from zero,endning at indexnumber 5 and the differenece will be of 2

(1, 3, 6)

# performing sorting in tuple

In [3]:
tu=(1,23,3,56,32,4)
sorted(tu)

[1, 3, 4, 23, 32, 56]

In [1]:
tup=(1,2,3,4,5,6,10,30)         # tuple  mai operation
lop=len(tup)                    # got the length of tuple
for i in range(lop-1,0,-1):     #lop ka length 8 aaya but we know ki index value 0 sey start hoti hai n length 1 sey,eslia range mai -1 kia
    #print(lop)
    
    print("the value how the loop will move",tup[i])

the value how the loop will move 30
the value how the loop will move 10
the value how the loop will move 6
the value how the loop will move 5
the value how the loop will move 4
the value how the loop will move 3
the value how the loop will move 2

# taking input from the user.
# first we will take in list
# than we will convert list to TUPLE

In [1]:
tup=()
tup1=[]
n=int(input())
for i in range(n):
    y=int(input())
    tup1.append(y)
tup=tuple(tup1)    # using tuple function we will convert list to tuple
print(tup)

3
12
23
1
(12, 23, 1)

# two become 2 tuple same,they must be have same number of element,with same index number,and at the same place

In [6]:
a=(1,2,3,4)
b=(23,4,43,2)
if a==b:
    print("same")
else:
    print("differnt")

differnt

# how to define single value inside the tuple

In [3]:
a=(1)      # like if somebody we tell u he want a single value in tuple,
a=(1,)     #this is the way to define
type(a)   # this is how to define

tuple

In [6]:
a=('deepak')
print(type(a))
b=("deepak",)    #----->>>>converting to tuple
print(type(b))    #---->this is how to convert to tuple

<class 'str'>
<class 'tuple'>

#     how to check the elelment present in tuple or not

In [7]:
a=(1,2,'deepak','khetwal')
if 'deepak' in a:   #--------------->>>using in we will check,it is read as--->><< ,if 'deepak' is present in a --<<<>>>>>
    print("yes it is preseent")

yes it is preseent

In [4]:
a=(1,2,3,4,2,3,4,4)  #------>> remove duplicate from tuple
d=dict.fromkeys(a)
list(d)

[1, 2, 3, 4]