In [13]:
23 * 'deepak'
d=5*"khetwal\n"  # to print the string multiple time
print(d)

khetwal
khetwal
khetwal
khetwal
khetwal

In [21]:
d="deepak"
h=d[::-1]    # to reverse the string
print(h)

kapeed

In [25]:
# if we want to print the string as it is without checking the special character
# that time we will use r as a raw 
a="deepak:\navin"
print(a)   #here after slaces it took a \n a new line characters  ,but if we want to neglect that special characters
d=r"deepak\navin"  #in the starting of the string use r as a special character
print(d)

deepak:
avin
deepak\navin

In [2]:
a=[1,2,3]
2 *a

[1, 2, 3, 1, 2, 3]

In [3]:
dk=(1,2,3)
2*dk

(1, 2, 3, 1, 2, 3)

In [ ]:
# some concept of class method

In [15]:
class Student:
    Name_of_school="ABCD"
    def __init__(self,name,rollnumber):
        self.name=name
        self.rollnumber=rollnumber
    def show(self):
        print(self.name,self.rollnumber)
    @classmethod
    def clas(cls):
        print(cls.Name_of_school)
name=input("enter the name of student: ")  # useer define input
rollnumber=int(input("enter the roll number: "))  # user define input
s=Student(name,rollnumber)
s2=Student(name,rollnumber)

s.show()

s2.show()
Student.clas()

enter the name of student: des
enter the roll number: 23
des 23
des 23
ABCD