In [3]:
import pandas as pd
a=pd.Series([1,2,43,4,5])  # as series mai one dimentional deyga ,and as we know ki yeh index values v deyga value ske sath
a

0     1
1     2
2    43
3     4
4     5
dtype: int64

## above index value was a bydefault value but if we want to chnage the index value than we can also do it

In [8]:
import pandas as pd
a=pd.Series([1,2,43,4,5],index=['a','b','c','d','e'])    # by usinf this we can chnge the values
a

a     1
b     2
c    43
d     4
e     5
dtype: int64

# pehle humne series kolist ke sath use kia tha abh hum series ko dictionary ke sath use karenge

In [12]:
import pandas as pd
a=pd.Series({1:2,43:4,5:10})
a     # with keys we have  got the values

1      2
43     4
5     10
dtype: int64

In [15]:
import pandas as pd   # adding a scalar value
a=pd.Series([1,2,43,4,5])
a+5   # value addesd ,it work same as numpy but it also show only the index value

0     6
1     7
2    48
3     9
4    10
dtype: int64

In [18]:
import pandas as pd
a=pd.Series([1,2,43,4,5])
b=pd.Series([10,20,30,40,50])
print(a+b)  # adding directly

0    11
1    22
2    73
3    44
4    55
dtype: int64

## now multidimentional,  it have rows and column

## how to create a Dataframe

In [23]:
# idhar hum dictionary mai create karenge
import pandas as pd
a=pd.DataFrame({'name':['deepak','khetwal'],'marks':[10,20]}) # dictionary mai value lia,pehle ek key ko list mai value dia means u can say list of value
# same fir dusre key ko list of value dia
# name and marks are the keys and in the list we have the keys values
print(a)  # output dekho upar keys aya n niche value as a Datafrme ban gya, rows and column mai

      name  marks
0   deepak     10
1  khetwal     20

# some predefined inbuild function of pandas

In [1]:
# 1)head()  -- > starting(first 5) 5 value deyga
# 2)tail()   ----> last(last) 5 value deyga
# 3)shape()  --- > no of rows and column
# 4) describe()  --->> general informtion about dataset

In [ ]:
# chekc the video from the time 3:40:00 to 3:50:00 takh important concept of pandas hai

# agr kisi file  ka paticular values of rows and column chahiyeh so we will uses, 

# to select paticular rows and column of data files

In [1]:
# use iloc()      # file name.iloc((1 no of rows range),(2 no of column jo chahiyeh))
# filename.iloc(2:10,1:5)   # start rows from 2 to 9 and column 1 to 4takh  #for this concept check the video
#pytho tutorial in hindi mai jo hai,uska timing 3:40:01 sey dekhna video to undestand the concept youtuber:grear leaner
# esmai rows aand column ka index mention karteh hai

In [2]:
# loc is used to extratc the number , it same as iloc but inside (loc)the  column name we have to mentioned
#but inside this we have to mention the column name ,and tthe rows excluded values also included

# TO remove(Drop) column from the DataFrame

In [3]:
# agar humko dataframe mai sey kuch drop karna hai so we will use drop

### dataframename.drop('nameofcolumnwhich u want to drop',axis=1)(axis =1 hai so it mean operation will perform on column))

In [ ]:
# upar humne axis =1 kia hai because humko column drop karna hai,so upar jo name dia hai wah column ka values delete ho jayega

# to Remove(Drop) the Rows from the dataframa

In [ ]:
# to remove the rows ,use the index number which you want to remove,
# esmai axis=0 hoga,because humko abh rows delete karna hai

In [ ]:
## dataframename.drop([1,2,3..],axis=0)  # 1 it take the index number jo rows remove karna hai n,  axis =0 mean rows ka