In [2]:
a={1,2,3,4,2,'deepak'}
print(a)

{1, 2, 3, 4, 'deepak'}

## to add any element in a set

In [12]:
se={1,2,43,4,23,32,2,'deepak',234.34}
#print(se)
se.add(5334)   # add new element in a set,single element
print(se)

{32, 1, 2, 234.34, 4, 43, 5334, 23, 'deepak'}

# to add multiple element,to pass a list of number

In [14]:
se={1,2,43,4,23,32,2,'deepak',234.34}
se.update([100,200,300,400])  # to add multiple elements on it
print(se)

{32, 1, 2, 234.34, 4, 100, 200, 43, 300, 400, 23, 'deepak'}